In [1]:
#Import Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Import CSV
csv_file  = "super_bowls.csv"
super_bowls_df = pd.read_csv(csv_file)
super_bowls_df.head()

,Year,super_bowl,venue,city,state,attendance,team_winner,winning_pts,qb_winner_1,qb_winner_2,coach_winner,team_loser,losing_pts,qb_loser_1,qb_loser_2,coach_loser,combined_pts,difference_pts
0,2020,54,Hard Rock Stadium,Miami Gardens,Florida,62417,Kansas City Chiefs,31,Patrick Mahomes,NaN,Andy Reid,San Francisco 49ers,20,Jimmy Garoppolo,NaN,Kyle Shanahan,51,11
1,2019,53,Mercedes-Benz Stadium,Atlanta,Georgia,70081,New England Patriots,13,Tom Brady,NaN,Bill Belichick,Los Angeles Rams,3,Jared Goff,NaN,Sean McVay,16,10
2,2018,52,U.S. Bank Stadium,Minneapolis,Minnesota,67612,Philadelphia Eagles,41,Nick Foles,NaN,Doug Pederson,New England Patriots,33,Tom Brady,NaN,Bill Belichick,74,8
3,2017,51,NRG Stadium,Houston,Texas,70807,New England Patriots,34,Tom Brady,NaN,Bill Belichick,Atlanta Falcons,28,Matt Ryan,NaN,Dan Quinn,62,6
4,2016,50,Levi's Stadium,Santa Clara,California,71088,Denver Broncos,24,Peyton Manning,NaN,Gary Kubiak,Carolina Panthers,10,Cam Newton,NaN,Ron Rivera,34,14

In [3]:
new_super_bowls_df = super_bowls_df[['Year', 'super_bowl', 'team_winner', 'team_loser', 'attendance','qb_winner_1', 'qb_loser_1', 'coach_winner', 'coach_loser', 'combined_pts', 'difference_pts']].copy()
new_super_bowls_df.head()

,Year,super_bowl,team_winner,team_loser,attendance,qb_winner_1,qb_loser_1,coach_winner,coach_loser,combined_pts,difference_pts
0,2020,54,Kansas City Chiefs,San Francisco 49ers,62417,Patrick Mahomes,Jimmy Garoppolo,Andy Reid,Kyle Shanahan,51,11
1,2019,53,New England Patriots,Los Angeles Rams,70081,Tom Brady,Jared Goff,Bill Belichick,Sean McVay,16,10
2,2018,52,Philadelphia Eagles,New England Patriots,67612,Nick Foles,Tom Brady,Doug Pederson,Bill Belichick,74,8
3,2017,51,New England Patriots,Atlanta Falcons,70807,Tom Brady,Matt Ryan,Bill Belichick,Dan Quinn,62,6
4,2016,50,Denver Broncos,Carolina Panthers,71088,Peyton Manning,Cam Newton,Gary Kubiak,Ron Rivera,34,14

In [4]:
# Create a filtered dataframe from specific columns
new_super_bowls_df_cols = ["Year", "super_bowl", "team_winner", "team_loser", "attendance", "qb_winner_1", "qb_loser_1", "coach_winner", "coach_loser", "combined_pts", "difference_pts"]
new_super_bowls_df_transformed = new_super_bowls_df[new_super_bowls_df_cols].copy()

# Rename the column headers
new_super_bowls_df_transformed = new_super_bowls_df_transformed.rename(columns={"Year": "year", "qb_winner_1": "qb_winner",
                                                            "qb_loser_1": "qb_loser"})

# Clean the data by dropping duplicates and setting the index
new_super_bowls_df_transformed.drop_duplicates("year", inplace=True)
new_super_bowls_df_transformed.set_index("year", inplace=True)

new_super_bowls_df_transformed.head()

,super_bowl,team_winner,team_loser,attendance,qb_winner,qb_loser,coach_winner,coach_loser,combined_pts,difference_pts
year,,,,,,,,,,
2020,54,Kansas City Chiefs,San Francisco 49ers,62417,Patrick Mahomes,Jimmy Garoppolo,Andy Reid,Kyle Shanahan,51,11
2019,53,New England Patriots,Los Angeles Rams,70081,Tom Brady,Jared Goff,Bill Belichick,Sean McVay,16,10
2018,52,Philadelphia Eagles,New England Patriots,67612,Nick Foles,Tom Brady,Doug Pederson,Bill Belichick,74,8
2017,51,New England Patriots,Atlanta Falcons,70807,Tom Brady,Matt Ryan,Bill Belichick,Dan Quinn,62,6
2016,50,Denver Broncos,Carolina Panthers,71088,Peyton Manning,Cam Newton,Gary Kubiak,Ron Rivera,34,14

In [5]:
#Import CSV
mvp_file  = "Name_MVP.csv"
Name_MVP_df = pd.read_csv(mvp_file)
Name_MVP_df.head()

,Year,Super_bowl,Winner,Winner_Pts,Loser,Loser_Pts,MVP,Stadium,City,State
0,2020,54,Kansas City Chiefs,31,San Francisco 49ers,20,Patrick Mahomes,Hard Rock Stadium,Miami Gardens,Florida
1,2019,53,New England Patriots,13,Los Angeles Rams,3,Julian Edelman,Mercedes-Benz Stadium,Atlanta,Georgia
2,2018,52,Philadelphia Eagles,41,New England Patriots,33,Nick Foles,U.S. Bank Stadium,Minneapolis,Minnesota
3,2017,51,New England Patriots,34,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas
4,2016,50,Denver Broncos,24,Carolina Panthers,10,Von Miller,Levi's Stadium,Santa Clara,California

In [6]:
new_Name_MVP_df = Name_MVP_df[['Year', 'Super_bowl', 'MVP']].copy()
new_Name_MVP_df.head()

   Year  Super_bowl              MVP
0  2020          54  Patrick Mahomes
1  2019          53   Julian Edelman
2  2018          52       Nick Foles
3  2017          51        Tom Brady
4  2016          50       Von Miller

In [7]:
# Create a filtered dataframe from specific columns
new_Name_MVP_df_cols = ["Year", "Super_bowl", "MVP"]
new_Name_MVP_df_transformed = new_Name_MVP_df[new_Name_MVP_df_cols].copy()

# Rename the column headers
#new_Name_MVP_df_transformed = new_Name_MVP_df_transformed.rename(columns={"Super_bowl": "super_bowl"})

# Clean the data by dropping duplicates and setting the index
new_Name_MVP_df_transformed.drop_duplicates("Year", inplace=True)
new_Name_MVP_df_transformed.set_index("Year", inplace=True)

new_Name_MVP_df_transformed.head()

      Super_bowl              MVP
Year
2020          54  Patrick Mahomes
2019          53   Julian Edelman
2018          52       Nick Foles
2017          51        Tom Brady
2016          50       Von Miller

In [8]:
rds_connection_string = "postgres:postgres@localhost:5432/sb_test"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [9]:
engine.table_names()

['NAME_MVP', 'SUPER_BOWLS']

In [10]:
new_Name_MVP_df_transformed.to_sql(name='NAME_MVP', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.NotNullViolation) null value in column "Year" of relation "NAME_MVP" violates not-null constraint
DETAIL:  Failing row contains (54, Patrick Mahomes, null).

[SQL: INSERT INTO "NAME_MVP" ("Super_bowl", "MVP") VALUES (%(Super_bowl)s, %(MVP)s)]
[parameters: ({'Super_bowl': 54, 'MVP': 'Patrick Mahomes'}, {'Super_bowl': 53, 'MVP': 'Julian Edelman'}, {'Super_bowl': 52, 'MVP': 'Nick Foles'}, {'Super_bowl': 51, 'MVP': 'Tom Brady'}, {'Super_bowl': 50, 'MVP': 'Von Miller'}, {'Super_bowl': 49, 'MVP': 'Tom Brady'}, {'Super_bowl': 48, 'MVP': 'Malcolm Smith'}, {'Super_bowl': 47, 'MVP': 'Joe Flacco'}  ... displaying 10 of 54 total bound parameter sets ...  {'Super_bowl': 2, 'MVP': 'Bart Starr+'}, {'Super_bowl': 1, 'MVP': 'Bart Starr+'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [ ]:
new_super_bowls_df_transformed.to_sql(name='SUPER_BOWLS', con=engine, if_exists='append', index=False)

In [11]:
pd.read_sql_query('select * from SUPER_BOWLS', con=engine).head()

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "super_bowls" does not exist
LINE 1: select * from SUPER_BOWLS
                      ^

[SQL: select * from SUPER_BOWLS]
(Background on this error at: http://sqlalche.me/e/13/f405)